<div
  class="_hero-details text-white flex-grow-1 d-flex flex-column align-items-center"
>
  <h2 class="title title-display text-center text-28 text-white">
    Arte Country Club
  </h2>

  <div class="featues row g-custom">
    <div class="feature-item col d-flex">
      <i class="icon icon-bed"></i>
      <span class="description">3 e 4 dorms</span>
    </div>
    <div class="feature-item col d-flex">
      <i class="icon icon-straighten"></i>
      <span class="description">256 a 321m²</span>
    </div>
    <div class="feature-item col d-flex">
      <i class="icon icon-holiday_village"></i>
      <span class="description">Boa Vista</span>
    </div>
  </div>
</div>
