<%
// Data
const cards = JSON.parse(include('../../data/home-cards-2.json') );
// Defaults
var args = typeof args !== 'undefined' ? args : {};
var cssClass = args.cssClass ?? '';
%>


<section class="_home-section-features-wide mx-md-n20 <%= cssClass %>">
    <div class="container-fluid">
        <div class="row">
            <% cards.forEach(function(card) { %>
            <div class="col">
                <%- include( '../card-cta-bg/component.ejs', { params: card } ); %>
            </div>
            <% }); %>
        </div>
    </div>
</section>