& {
    .nav-link {
        color: $azul-melnick;

        &::after {
            background-color: $azul-melnick;
        }
    }
    .navbar-toggler,
    .search-toggler {
        color: $azul-melnick;
    }
    .center-mobile {
        color: $azul-melnick;
    }
    .navbar-brand {
        .light {
            display: none;
        }
        .dark {
            display: block;
        }
    }
}
