<%
// Data
const cards = JSON.parse(include('../../data/home-cards.json') );
// Defaults
var args = typeof args !== 'undefined' ? args : {};

var cssClass = args.cssClass ?? '';
%>


<section class="_home-section-features container-fluid <%= cssClass %>">
    <h2 class="title-display text-center mb-3">
        Confira o que a <strong>Melnick</strong> oferece
    </h2>
    <div class="swiper leaked">
        <div class="swiper-wrapper">
            <% cards.forEach(function(card) { %>
            <div class="swiper-slide">
                <%- include( '../card-home/component.ejs', { ...card, cssClass: '' } ); %>
            </div>
            <% }); %>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>