@import "../navbar/";
@import "../nav-overlay/";

._header-alt {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 40px;
    z-index: 40;

    @include media-breakpoint-up(md) {
        padding-left: 65px;
        padding-right: 65px;
    }
}
