@import "../navbar/";
@import "../nav-overlay/";

._header-alt {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 40;

    @include media-breakpoint-up(md) {
        left: 40px;
        right: 40px;
    }
}
