<% 
// Params
var args = typeof args !== 'undefined' ? args : '';
let cssClass = args.cssClass ?? '';
%>

<div class="_real-estate-features-mobile  mx-n20 <%= cssClass %>">

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <%- include( './slide-item-1' ); %>
            </div>

            <div class="swiper-slide">
                <%- include( './slide-item-2' ); %>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>