<div class="slide-inner">
    <h2 class="features-title title-display">
        Características do Empreendimento
    </h2>

    <ul class="features-list">
        <li class="feature-item">
            <i class="icon icon-celebration"></i><span class="label">Salão de Festas</span>
            <i class="question icon icon-question-outline"></i>
        </li>
        <li class="feature-item">
            <i class="icon icon-pets"></i><span class="label">Pet place</span>
            <i class="question icon icon-question-outline"></i>
        </li>
        <li class="feature-item">
            <i class="icon icon-laptop"></i><span class="label">Coworking</span>
            <i class="question icon icon-question-outline"></i>
        </li>
        <li class="feature-item">
            <i class="icon icon-compost"></i><span class="label">Pomar</span>
            <i class="question icon icon-question-outline"></i>
        </li>
        <li class="feature-item">
            <i class="icon icon-hot-tub"></i><span class="label">Saunas seca e úmida</span>
            <i class="question icon icon-question-outline"></i>
        </li>
        <li class="feature-item">
            <i class="icon icon-waves"></i><span class="label">Piscinas adulto e infantil</span>
            <i class="question icon icon-question-outline"></i>
        </li>
        <li class="feature-item">
            <i class="icon icon-pool"></i><span class="label">Piscina coberta<br />
                com raia de 25m</span>
            <div class="tip-wrapper">
                <i class="question icon icon-question-outline"></i>
                <div class="tip">
                    <div class="inner">
                        <div class="title">Quadra de Tênis</div>
                        <div class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>