@import "../../assets/scss/modules/select";
@import "../button-default/";

._hero-search {
    @include media-breakpoint-down(md) {
        flex-direction: column;

        ._select {
            .select-box {
                margin-right: 0;
                width: auto;
            }
        }
        .submit {
            ._button-default {
                width: 100%;
                text-align: center;
            }
        }
    }
    ._select {
        .toggler {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .search {
        border-left: 1px solid $accent;
        input {
            height: 40px;
            border: 0;
            max-width: 470px;
            padding: 0px 20px;
            color: $azul-melnick;

            &:active,
            &:focus {
                outline: none;
            }
        }
    }
    ._button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-weight: 500;
    }
}
