& {
    li {
        list-style: none;
    }
    .nav-link {
        color: white;
        text-decoration: none;
        @include nav-decoration;
    }
    .navbar-brand {
        padding: 0;

        a {
            display: inline-block;
        }
        img {
            display: block;
        }

        .dark {
            display: none;
        }
        .light {
            display: block;
        }
    }
    .center-mobile {
        padding: 0;
        margin: 0;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        color: white;

        .icon {
            margin-bottom: 2px;
            margin-left: 4px;

            &:before {
                display: block;
            }
        }
    }
    .navbar-toggler,
    .search-toggler {
        color: white;
        font-size: 24px;
        padding: 0;
        border: 0;
        background: none;
    }
    .nav-menu {
        flex-wrap: wrap;

        &.center {
            font-size: 14px;
        }
        &.secondary {
            font-size: 12px;
        }
    }

    &.dark {
        @import "./variations/dark";
    }
}
