& {
    li {
        list-style: none;
    }
    .nav-link {
        color: white;
        text-decoration: none;
        @include nav-decoration;
    }
    .navbar-brand {
        flex: 1;
        padding: 0;

        a {
            display: inline-block;
        }
        img {
            display: block;
        }
    }
    .navbar-toggler,
    .search-toggler {
        color: white;
        font-size: 24px;
        padding: 0;
        border: 0;
        background: none;
    }
    .nav-menu {
        flex-wrap: wrap;

        &.center {
            font-size: 14px;
        }
        &.secondary {
            font-size: 12px;
        }
    }

    &.dark {
        @import "./variations/dark";
    }
}
