<nav class="navbar _navbar">
  <div class="collapse navbar-collapse d-flex align-items-center" id="main-nav">
    <a class="navbar-brand" href="#"
      ><img src="<%= require('../../assets/img/Logo-PB.svg') %>" alt="Melnick"
    /></a>
    <ul
      class="nav-menu center d-flex px-2 flex-grow-1 justify-content-center mb-0"
    >
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/residencial"
          >Residencial</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/comercial">Comercial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/comercial">Terrenos</a>
      </li>
    </ul>
    <ul class="nav-menu secondary d-flex px-2 mb-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/contato"
          >Contato</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/acessibilidade">Acessibilidade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/investidores">Relação com Investidores</a>
      </li>
    </ul>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="icon icon-menu_black_24dp"></span>
    </button>
  </div>
</nav>
