.row:not([class*="g-"]) {
    --bs-gutter-x: 1.25rem;
    --bs-gutter-y: 1.25rem;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    --bs-gutter-x: 1.25rem;
    --bs-gutter-y: 1.25rem;
}

@each $bp, $width in $grid-breakpoints {
    @include media-breakpoint-up($bp) {
        .mx-#{$bp}-n20 {
            margin-left: -20px;
            margin-right: -20px;
        }
    }
}

.leaked {
    @include media-breakpoint-down(md) {
        margin-right: -20px !important;
    }
}
