@mixin nav-decoration {
  & {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 30px;
      right: 30px;
      height: 1px;
      background: #fff;
      opacity: 0;
      transform: scale(0);
      transition: 200ms all;
    }

    &:hover,
    &.active {
      &:after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
