// Brand Colors
$azul-melnick: #002541;
$amarelo-melnick: #f8a63e;

// Complementary Color
$light-gray: #7c7c7c;
$blue: #53b7e8;
$accent: #d7d7d7;

// Misc Colors
$bg-color: #e5e5e5;
$sec-cinzinha: #a8a8a8;

$font-family-sans-serif: "TT Norms Pro";
