@import "../../assets/fonts/tt-norms-pro/stylesheet.css";
@import "~bootstrap";
@import "variables";
@import "typography";
@import "layout";

img {
  max-width: 100%;
  vertical-align: middle;
}
body {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
  font-size: 14px;
}
.icon {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
