// Assets
@import "../../assets/scss/main.scss";

// Components
@import "../../components/button-default/";
@import "../../components/header/";
@import "../../components/footer/";
@import "../../components/real-estate-gallery/";
@import "../../components/real-estate-gallery-mobile/";
@import "../../components/entry-real-estate-list/";
@import "../../components/real-estate-meta-actions/";
@import "../../components/page-title/";
@import "../../components/real-estate-props/";
@import "../../components/whatsapp-balloon/";
@import "../../components/real-estate-action-carousel/";
@import "../../components/real-estate-form/";
@import "../../components/real-estate-description/";
@import "../../components/real-estate-features/";
@import "../../components/real-estate-features-mobile/";
@import "../../components/real-estate-book/";
@import "../../components/real-estate-plants/";
@import "../../components/real-estate-testimonies/";
@import "../../components/real-estate-map/";
@import "../../components/real-estate-related/";
@import "../../components/real-estate-modal/";
@import "../../components/real-estate-stories/";

body {
    background: #f6f6f6;
}
._header {
    @include media-breakpoint-up(lg) {
        margin-top: 10px;
    }
}

._footer {
    ._whatsapp-balloon {
        @include media-breakpoint-down(lg) {
            position: absolute;
        }
    }
}
#page-empreendimentos-interna {
    @include media-breakpoint-up(lg) {
        margin-top: 102px;
    }

    ._page-title {
        margin-bottom: 20px;
    }
    .page-inner {
        margin-top: 20px;
    }
    ._real-estate-gallery {
        margin-bottom: 46px;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    ._real-estate-gallery-mobile {
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
    ._real-estate-meta-actions {
        margin-bottom: 30px;
    }
    .form-scrollable {
        position: relative;
    }
    .meta {
        margin-bottom: 50px;

        @include media-breakpoint-up(lg) {
            display: flex;
            gap: 40px;
        }

        .left {
            flex: 1;
            min-width: 0;
            margin-bottom: 40px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }
        }

        .right {
            flex-basis: 435px;
            z-index: 50;

            @include media-breakpoint-up(xxl) {
                .rail {
                    position: absolute;
                    height: 100%;
                    padding-bottom: 40px;
                    padding-right: 20px;
                }
            }
            ._real-estate-form {
                @include media-breakpoint-up(lg) {
                    position: absolute;
                }

                @include media-breakpoint-up(xxl) {
                    position: sticky;
                    top: 40px;
                }
            }
        }
    }
    .description {
        @include media-breakpoint-down(lg) {
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(lg) {
            & ~ .features {
                margin-top: -45px;
                position: relative;
                z-index: 50;
            }
        }
    }
    .features {
        @include media-breakpoint-down(lg) {
            display: none;
        }

        & + .book {
            @include media-breakpoint-up(lg) {
                top: -62px;
                position: relative;
                z-index: 60;
                margin-left: 23px;
                width: 758px;
            }
        }
    }
    .book {
        @include media-breakpoint-down(lg) {
            margin-bottom: 60px;
        }
    }
    .features-mobile {
        margin-bottom: 50px;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
    .testimonies {
        @include media-breakpoint-down(lg) {
            margin-bottom: 50px;
        }
    }
    .map {
        margin-bottom: 80px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 50px;
        }
    }
}
