// Modules
@import "../../assets/scss/modules/slider";
@import "swiper/css/bundle";

//Components
@import "../hero-search/";
@import "../hero-details/";

._hero {
    //display: flex;
    position: relative;

    @include media-breakpoint-down(md) {
        padding: 0 !important;
    }

    .search-bar {
        position: absolute;
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        top: 97px;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: 200ms all;

        &.visible {
            opacity: 1;
            visibility: visible;
        }

        @include media-breakpoint-up(lg) {
            opacity: 1;
            visibility: visible;
        }
    }

    .inner {
        flex: 1;
        // overflow: hidden;
        //display: flex;
        flex-direction: column;
        position: relative;

        @include media-breakpoint-up(lg) {
            padding-bottom: 24px;
        }

        .slider {
            overflow-x: hidden;
            position: relative;
        }
        .swiper-slide {
            display: flex;
            align-items: flex-end;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 460px;
            overflow: hidden;

            @include media-breakpoint-up(lg) {
                min-height: 577px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0%;
                bottom: 0%;
                left: 0%;
                right: 0%;
                z-index: 5;
                background: rgba(black, 0.4);

                @include media-breakpoint-down(lg) {
                    border-radius: 0;
                }
            }
        }
    }
    .foreground {
        position: relative;
        z-index: 10;
        padding-top: 70px;
        padding-bottom: 33px;
        background: linear-gradient(
            360deg,
            rgba(#090909, 0.75) 0%,
            rgba(9, 9, 9, 0) 100%
        );

        @include media-breakpoint-down(lg) {
            padding-bottom: 50px;
        }
    }
    .slide-1 {
        background-image: url("./../../assets/img/hero-bg.jpeg");
    }
    .slide-2 {
        background-image: url("./../../assets/img/hero-bg-2.jpeg");
    }
    .swiper-pagination {
        margin-top: 10px;

        @include media-breakpoint-down(lg) {
            margin-top: 0;
            margin-bottom: 0;
            position: absolute !important;
            bottom: 20px !important;

            .swiper-pagination-bullet {
                background: #fff;
                opacity: 0.5;

                &.swiper-pagination-bullet-active {
                    opacity: 1;
                }
            }
        }
    }
}
