<div class="_hero container-fluid position-relative">
  <div class="inner">
    <div class="search-bar"><%- include('../hero-search/template.ejs') %></div>
    <div class="slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-1">
          <div class="foreground flex-grow-1">
            <%- include('../hero-details/template.ejs') %>
          </div>
        </div>

        <div class="swiper-slide slide-2">
          <div class="foreground flex-grow-1">
            <%- include('../hero-details/template.ejs') %>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
