._real-estate-features {
    max-width: 868px;
    background-color: #fff;
    padding: 60px 43px 105px 43px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -20px;

    .features-title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .features-list {
        padding: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;
        color: $azul-melnick;
    }

    .feature-item {
        list-style: none;
        display: flex;
        gap: 12px;
        font-size: 16px;

        &:first-child {
            .label {
                font-weight: 500;
            }
        }
        .icon {
            font-size: 24px;
        }
        .question {
            color: $amarelo-melnick;
        }
    }
}
