<%
// Defaults
const paramClass = typeof cssClass !== 'undefined' ? cssClass : ''
%>

<div class="_whatsapp-balloon <%= paramClass %>">
    <a href="#">
        <div class="inner">
            <i class="icon icon-whatsapp"></i>
        </div>
    </a>
</div>