// Modules
@import "swiper/css/bundle";

//Components
@import "../entry-real-estate/";

._carousel-real-estate {
    .nav-tabs {
        border-bottom: 0;
    }
    .carousel-tabs {
        margin-bottom: 24px;
        ul {
            margin: -10px;

            li {
                padding: 0;
                list-style: none;
                margin-right: 10px;

                a {
                    display: block;
                    text-decoration: none;
                    padding: 10px;
                    font-size: 16px;

                    @include nav-decoration;

                    &:after {
                        background-color: $azul-melnick;
                    }
                }
            }
        }
    }
    .swiper-slide {
        width: 305px;
        height: auto;
        display: flex;

        ._entry-real-estate {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
    .swiper {
        padding-bottom: 54px;

        .swiper-pagination {
            text-align: right;
        }
    }
}
