// Modules
@import "swiper/css/bundle";

//Components
@import "../entry-real-estate/";

._carousel-real-estate {
    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
    }
    .nav-tabs {
        border-bottom: 0;
        flex-wrap: nowrap;
    }
    .carousel-tabs {
        margin-bottom: 24px;

        @include media-breakpoint-down(lg) {
            margin-left: -20px;
            margin-right: -20px;
        }

        .nav-slider {
            &::before,
            &:after {
                pointer-events: none;
                content: "";
                height: 45px;
                width: 80px;
                top: 0;
                position: absolute;
                background: linear-gradient(
                    90deg,
                    #f6f6f6 0%,
                    rgba(246, 246, 246, 0) 100%
                );
                z-index: 50;
            }

            &:before {
                left: 0;
            }
            &:after {
                right: 0;
                transform: rotate(180deg);
            }
        }

        ul {
            //margin: -10px;

            li {
                padding: 0;
                list-style: none;

                @include media-breakpoint-up(lg) {
                    //margin-right: 10px;
                    width: fit-content;
                }

                a {
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    padding: 10px;
                    font-size: 16px;
                    flex: 1;
                    color: $sec-cinza-escuro;

                    @include media-breakpoint-down(lg) {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    @include media-breakpoint-up(lg) {
                        color: $azul-melnick;
                    }

                    @include nav-decoration;

                    &:after {
                        background-color: $sec-cinza-escuro;

                        @include media-breakpoint-up(lg) {
                            background-color: $azul-melnick;
                        }
                    }
                }
            }
        }
    }
    .swiper-slide {
        width: 305px;
        height: auto;
        display: flex;

        ._entry-real-estate {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
    .swiper {
        @include media-breakpoint-up(md) {
            padding-bottom: 10px;
        }

        .swiper-pagination {
            display: none;
            text-align: right;

            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }
}
