._real-estate-plants {
    .features-title {
        font-size: 24px;
    }

    .top-section {
        margin-bottom: 30px;

        @include media-breakpoint-up(lg) {
            max-width: 868px;
            display: flex;
            justify-content: space-between;
        }
    }

    .bottom-section {
        background-color: #fff;
        .bottom-inner {
            max-width: 890px;
        }
    }
    .swiper-slide {
        position: relative;

        .slide-label {
            position: absolute;
            top: 20px;
            left: 0px;
            font-size: 12px;
            font-weight: 500;
            color: $azul-melnick;
        }
    }
    .fullscreen {
        position: absolute;
        z-index: 10;
        top: 30px;
        right: 0;
        width: 32px;
        height: 32px;

        .icon {
            font-size: 24px;
        }
    }
    .swiper-nav-container {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 20;
        pointer-events: none;

        button {
            pointer-events: all;
            background: none;
            border: none;
            color: $azul-melnick;
            transition: 200ms all;
            visibility: visible;
            opacity: 1;

            .icon {
                display: block;
            }

            &.swiper-button-disabled {
                opacity: 0;
                visibility: hidden;
            }
        }
        .prev-slide {
            transform: rotate(180deg);
        }
        .icon {
            font-size: 28px;
        }
    }

    .nav {
        @import "../real-estate-meta-actions/button";

        display: flex;
        gap: 10px;
        flex-wrap: nowrap;
        overflow-y: scroll;

        ._button {
            white-space: nowrap;

            .icon {
                margin-right: 4px;
            }

            &.active {
                background-color: $azul-melnick;
                color: #fff;
                border-color: $azul-melnick;

                .icon {
                    color: $amarelo-melnick;
                }
            }
        }
    }
}
