<% 
// Params
var args = typeof args !== 'undefined' ? args : '';
let cssClass = args.cssClass ?? '';
%>

<div class="_real-estate-plants <%= cssClass %>">
    <div class="top-section">
        <h2 class="features-title title-display">Plantas</h2>
        <ul class="nav leaked remove-scrollbar" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="_button _button-default variation-outline active" id="unidades-tab" data-bs-toggle="tab" data-bs-target="#unidades" type="button" role="tab" aria-controls="unidades" aria-selected="true"><i class="icon icon-plant mr-4"></i> Unidades</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="_button _button-default variation-outline" id="infra-tab" data-bs-toggle="tab" data-bs-target="#infra" type="button" role="tab" aria-controls="infra" aria-selected="true"><i class="icon icon-plant mr-4"></i> Infraestrutura</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="_button _button-default variation-outline" id="areascomuns-tab" data-bs-toggle="tab" data-bs-target="#areascomuns" type="button" role="tab" aria-controls="areascomuns" aria-selected="true"><i class="icon icon-plant mr-4"></i> Áreas comuns</button>
            </li>
        </ul>
    </div>

    <div class="bottom-section mx-n20 mx-lg-n40">
        <div class="bottom-inner">
            <div id="plants-tab" class="tab-content">
                <div class="tab-pane fade show active" id="unidades" role="tabpanel" aria-labelledby="unidades-tab">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <span class="slide-label">Tab 1 - Unidade 241m²</span>
                                <img class="image" src="../../assets/img/real-estate-inner/plant-1.png" />
                            </div>
                            <div class="swiper-slide">
                                <span class="slide-label">Tab 1 - Unidade 300m²</span>
                                <img class="image" src="../../assets/img/real-estate-inner/plant-1.png" />
                            </div>
                        </div>
                        <%- 
                        include( '../button-icon/component.ejs', { args: {
                            icon: 'fullscreen',
                            cssClass: 'fullscreen gallery-toggler-1'
                        } } );
                        %>
                        <div class="swiper-nav-container">
                            <div class="prev nav-control">
                                <button type="button">
                                    <i class="icon icon-chevron-left"></i>
                                </button>
                            </div>

                            <div class="next nav-control">
                                <button type="button">
                                    <i class="icon icon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="infra" role="tabpanel" aria-labelledby="infra-tab">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <span class="slide-label">Tab 2 - Unidade 241m²</span>
                                <img class="image" src="../../assets/img/real-estate-inner/plant-1.png" />
                            </div>
                            <div class="swiper-slide">
                                <span class="slide-label">Tab 2 - Unidade 300m²</span>
                                <img class="image" src="../../assets/img/real-estate-inner/plant-1.png" />
                            </div>
                        </div>
                        <%- 
                        include( '../button-icon/component.ejs', { args: {
                            icon: 'fullscreen',
                            cssClass: 'fullscreen gallery-toggler-2'
                        } } );
                        %>
                        <div class="swiper-nav-container">
                            <div class="prev nav-control">
                                <button type="button">
                                    <i class="icon icon-chevron-left"></i>
                                </button>
                            </div>

                            <div class="next nav-control">
                                <button type="button">
                                    <i class="icon icon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="areascomuns" role="tabpanel" aria-labelledby="areascomuns-tab">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <span class="slide-label">Tab 3 - Unidade 241m²</span>
                                <img class="image" src="../../assets/img/real-estate-inner/plant-1.png" />
                            </div>
                            <div class="swiper-slide">
                                <span class="slide-label">Tab 3 - Unidade 300m²</span>
                                <img class="image" src="../../assets/img/real-estate-inner/plant-1.png" />
                            </div>
                        </div>
                        <%- 
                        include( '../button-icon/component.ejs', { args: {
                            icon: 'fullscreen',
                            cssClass: 'fullscreen gallery-toggler-3'
                        } } );
                        %>
                        <div class="swiper-nav-container">
                            <div class="prev nav-control">
                                <button type="button">
                                    <i class="icon icon-chevron-left"></i>
                                </button>
                            </div>

                            <div class="next nav-control">
                                <button type="button">
                                    <i class="icon icon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>