<% 
// Params
var args = typeof args !== 'undefined' ? args : '';
let caption = args.caption ?? '';
let bg = args.bg ?? '';
%>

<div class="slide-inner video">
    <span class="slide-caption"><%- caption %></span>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/FoMlSB6ftQg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="inactive-wrap">
        <div class="inner">
            <%- include('../real-estate-action/component.ejs', { args: { label: 'Conheça o<br> Bairro', image: 'real-estate-3.jpeg' } } ); -%>
        </div>
    </div>
</div>