<div class="swiper-nav-container">
    <%- 
    include( '../button-icon/component.ejs', { args: {
        icon: 'chevron-left',
        cssClass: 'swiper-nav swiper-prev'
    } } );
    %>
    <%- 
    include( '../button-icon/component.ejs', { args: {
        icon: 'chevron-right',
        cssClass: 'swiper-nav swiper-next'
    } } );
    %>
</div>