<div class="swiper-controls">
    <button type="button" class="pause"><i class="icon icon-pause"></i><i class="icon icon-play"></i></button>
    <button type="button" class="close"><i class="icon icon-close"></i></button>
</div>