@import "../menu-list/";
@import "../social-icons/";

._footer {
    @include media-breakpoint-down(lg) {
        text-align: center;
    }
    /** Footer Top */
    .footer-top {
        .top-inner {
            padding-top: 50px;

            @include media-breakpoint-up(lg) {
                padding-top: 40px;
                border-bottom: 1px solid rgba($sec-cinzinha, 0.25);
                padding-bottom: 35px;
            }

            .row {
                flex-wrap: wrap;
            }

            .menu-highlight {
                @include media-breakpoint-down(lg) {
                    margin-top: 20px;
                }
            }

            .about {
                @include media-breakpoint-down(lg) {
                    margin-bottom: 40px;
                }
            }

            .col.menu {
                @include media-breakpoint-down(lg) {
                    margin-bottom: 10px;
                }
            }
            ._menu-list {
                .menu-title {
                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }
            }
        }
    }
    .accordion {
        .accordion-content {
            .accordion-button {
                background: none;
                border-radius: 4px;
                border: 1px solid $sec-cinzinha;
                font-weight: 500;
                padding: 12px 17px 12px 19px;
                font-size: 13px;
                line-height: 100%;

                &::after {
                    width: 15px;
                    height: 15px;
                    background-size: 15px;
                }

                &[aria-expanded="true"] {
                    background: $azul-melnick;
                    color: #fff;
                    border-color: $azul-melnick;

                    &:after {
                        filter: brightness(5.5);
                    }
                }
            }
            @include media-breakpoint-up(lg) {
                .accordion-collapse {
                    display: block;
                }

                .accordion-body {
                    padding: 0;
                }
                .accordion-header {
                    display: none;
                }
            }
        }
    }
    ._social-icons {
        @include media-breakpoint-down(lg) {
            justify-content: center;
        }
    }
    .footer-logo {
        display: block;
        margin-bottom: 20px;
    }
    .address {
        margin-bottom: 34px;
        color: $sec-cinzinha;
    }
    .canal-de-vendas {
        background-color: $azul-melnick;
        border-radius: 4px;
        color: #fff;
        padding: 40px;

        @include media-breakpoint-up(lg) {
            margin-top: -40px;

            .menu-title {
                text-align: center;
                display: block;
            }
        }

        .menu-title {
            text-align: left;
            color: #fff;
        }

        .menu {
            margin-bottom: -22px;
        }

        .menu-item {
            margin-bottom: 22px;

            a {
                color: #fff;
                text-transform: none;
                font-size: inherit;
            }
            .icon {
                color: $amarelo-melnick;
                font-size: 24px;
            }
        }
    }

    /** Footer Bottom */
    .footer-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 60px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 0px;
        }

        .copy {
            color: $sec-cinzinha;
        }
        .policy {
            text-align: right;

            @include media-breakpoint-down(md) {
                display: flex;
                flex-direction: column;
                align-items: center;

                & > span {
                    display: none;
                }
                & > a {
                    font-weight: 400;
                    margin-bottom: 16px;
                    display: inline-flex;
                }
            }
        }
    }
    /** Footer Bottom Bar */
    .footer-bottom-bar {
        position: relative;

        ._menu-list {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 500;
            margin-top: auto;
            border-radius: 0;
            display: flex;
            align-items: center;
            padding: 20px;

            @include media-breakpoint-down(lg) {
                position: static !important;
            }
            @include media-breakpoint-up(lg) {
                justify-content: center;
            }

            .menu-title {
                margin-bottom: 0px;
                margin-right: 14px;
                text-transform: none;
                font-size: 18px;
                font-weight: 300;

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
            .menu {
                display: flex;
                margin-bottom: -10px;

                .menu-item {
                    padding: 0px 14px;
                    margin-bottom: 10px;
                }
                .menu-label {
                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }
            }
        }
    }
}
