<!-- Footer Component-->
<footer class="_footer">
  <div class="footer-inner container-fluid">
    <div class="row">
      <div class="col">Coluna 1</div>
      <div class="col">Coluna 2</div>
      <div class="col">Coluna 3</div>
    </div>
  </div>
</footer>
