<%
// Params
var args = typeof args !== 'undefined' ? args : '';
let cssClass = args.cssClass ?? '';%>

<div class="_list-map-button-pin <%= cssClass %>">
    <div class="inner">
        <i class="icon icon-corporate-fare"></i>
    </div>
</div>