@import "../button-default/";

._real-estate-props {
    .property-features {
        margin-bottom: 40px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 25px;
            display: flex;
            gap: 25px;
        }

        .icon {
            font-size: 24px;
            margin-right: 10px;
            color: $azul-melnick;
        }
        .feature-item {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-bottom: 15px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 0px;
            }

            span {
                color: $sec-cinzinha;
                white-space: nowrap;
            }
        }
    }
}
