._real-estate-map {
    @import "../real-estate-meta-actions/button";
    position: relative;

    @include media-breakpoint-up(xl) {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 193px;
            pointer-events: none;
            background: linear-gradient(
                360deg,
                #090909 0%,
                rgba(9, 9, 9, 0) 100%
            );
            mix-blend-mode: normal;
            opacity: 0.25;
            transform: rotate(-180deg);
        }
    }

    .map-controls {
        @include media-breakpoint-up(xl) {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            left: 108px;
            right: 108px;
            top: 45px;
            height: 120px;
            background: #fff;
            padding: 30px 20px;
            border-radius: 4px;
            box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
        }

        .left {
            @include media-breakpoint-up(xl) {
                padding-left: 8px;
            }

            @include media-breakpoint-down(xl) {
                border-bottom: 1px solid rgba($sec-cinzinha, 0.25);
                padding-bottom: 20px;
                margin-bottom: 20px;
            }

            .place {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 24px;
                line-height: 120%;
                letter-spacing: 0.05em;

                @include media-breakpoint-down(xl) {
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }
            .place-name {
                color: $sec-cinza-claro;
                font-size: 16px;

                @include media-breakpoint-down(xl) {
                    font-size: 14px;
                }
            }
        }
        .right {
            @include media-breakpoint-down(xl) {
                margin-bottom: 20px;
            }
            .label {
                display: block;
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 20.48px;
                color: $azul-melnick;
            }
        }
        .actions {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            overflow-y: scroll;

            @include media-breakpoint-down(xl) {
                flex-wrap: nowrap;
            }
        }
    }
    .map-container {
        height: 300px;

        @include media-breakpoint-up(xl) {
            height: 557px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
