<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melnick</title>
  </head>
  <body>
    <%- require('ejs-webpack-loader!../../components/header-alt/component.ejs')() %>

    <%- require('ejs-webpack-loader!../../components/hero/component.ejs')() %>

    <%- require('ejs-webpack-loader!../../components/footer/component.ejs')() %>

    <main class="site-wrapper"></main>
  </body>
</html
