<% 
// Params
var args = typeof args !== 'undefined' ? args : '';
let cssClass = args.cssClass ?? '';
%>

<div class="_real-estate-description <%= cssClass %>">
    <div class="description-inner">
        <h2 class="mobile-title">
            Toda a facilidade de morar junto a um hotel do Grupo Emiliano
        </h2>

        <div class="text">
            <h2 class="description-title">
                Toda a facilidade de morar junto a um hotel do Grupo Emiliano
            </h2>
            <div class="description-text">
                <p>
                    Perto de tudo o que importa, o Nilo Square Residence Resort está em uma das
                    melhores localizações de Porto Alegre, traz o espaço de uma casa com a estrutura de
                    um resort.
                </p>

                <p>
                    Pensamos em uma vida em clima de férias o ano todo, com muito espaço
                    dentro e fora de casa. São 9 mil m² de pura diversão, alegria e descontração.
                </p>

                <p>
                    Nós pensamos em tudo o que a sua família precisa para viver com conforto, praticidade
                    e segurança, e fomos além. Pensamos em uma vida em clima de férias o ano todo,
                    com muito espaço dentro e fora de casa.
                </p>

                <p>
                    Não é à toa que o Nilo Square<br>
                    Residence tem resort no nome.
                </p>
            </div>
        </div>
        <div class="media">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/img/real-estate-inner/gallery-1.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/img/real-estate-inner/gallery-2.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/img/real-estate-inner/gallery-3.jpeg" />
                    </div>
                </div>
            </div>
            <div class="swiper-nav-container">
                <div class="prev">
                    <button type="button" class="prev-slide">
                        <i class="icon icon-chevron-right-2"></i>
                    </button>
                </div>
                <div class="next">
                    <button type="button" class="next-slide">
                        <i class="icon icon-chevron-right-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>