<%
// Defaults
const paramClass = typeof cssClass !== 'undefined' ? cssClass : ''
%>

<div class="_list-map-button-contact <%= paramClass %>">
    <a href="#">
        <div class="inner">
            <i class="icon icon-chat-balloon"></i>
        </div>
    </a>
</div>