// Assets
@import "../../assets/scss/main.scss";

// Components
@import "../../components/header/";
@import "../../components/footer/";
@import "../../components/real-estate-filters/";
@import "../../components/list-map-default/";
@import "../../components/button-default/";

body {
    background: #f6f6f6;
}
#page-mobile-empreendimentos-map {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .page-inner {
        display: flex;
        flex: 1;
    }

    .back {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;

        ._button {
            height: 30px;
            border-radius: 8px;
            padding: 0px 15px;

            .icon {
                font-size: 18px;
            }
        }
    }
    .map {
        display: flex;
        flex: 1;
        margin-right: -20px;
        position: relative;
        margin-right: 0;
    }
}
