<% 
const realEstates = JSON.parse(include('../../data/real-estates/properties.json') )
%>

<%- include('../../components/header/component.ejs') %>

<main class="site-wrapper" id="page-mobile-empreendimentos-map">

    <%- include('../../components/real-estate-filters/component.ejs') %>

    <div class="page-inner">
        <div class="map">
            <%- include( '../../components/list-map-default/component.ejs' ); %>
        </div>
        <div class="back">
            <%- include('../../components/button-default/component.ejs', { args: { label: 'Listagem', icon: 'listing'}}) -%>
        </div>
    </div>
</main>